<script type="text/template" id="productList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>value</th>
                 <th>image</th>
                 <th>Descripcion</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(products, function(product) { %>
    <tr>
		<td><%= htmlEncode(product.getDisplay('name')) %></td>
		<td><%= htmlEncode(product.getDisplay('value')) %></td>
                 <td><a href="<%= product.getDisplay('imagen') %>"><img src="<%= product.getDisplay('imagen') %>" width="70"> </a></td> 
                <td><%= htmlEncode(product.getDisplay('descripcion')) %></td>
               
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-edit',{id:<%= product.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-delete',{id:<%= product.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="product">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productForm">
    <% if(product.id) {%>
    <input type="hidden" name="id" value="<%= product.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= product.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="value">value</label>
    	<input type="text" class="form-control" id="value" name="value" placeholder="Enter value" value="<%= product.get('value') %>"/>	
		</div>
          <div class="form-group" >
		<label for="imagen">imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter Image URL" value="<%= product.get('imagen') %>"/>	
		</div>
         <div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= product.get('descripcion') %>"/>	
		</div> 

     
        
    </form>
    </div>
</script> 

<script type="text/template" id="productSearch">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productForm">
    <% if(product.id) {%>
    <input type="hidden" name="id" value="<%= product.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre a buscar</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= product.get('name') %>"/>	
		</div>
		
    </form>
    <button id="<%= componentId%>-product-searchButton" 
        onclick="Backbone.trigger('<%= componentId %>-product-search',{}); return false" 
        type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span> Search
    </button>
    </div>
 
</script>