<script type="text/template" id="clientList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>cc</th>
                 <th>e-mail</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(clients, function(client) { %>
    <tr>
		<td><%= htmlEncode(client.getDisplay('name')) %></td>
		<td><%= htmlEncode(client.getDisplay('cc')) %></td>
                <td><%= htmlEncode(client.getDisplay('e-mail'))%></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-client-edit',{id:<%= client.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-client-delete',{id:<%= client.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="client">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-clientForm">
    <% if(client.id) {%>
    <input type="hidden" name="id" value="<%= client.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= client.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cc">cc</label>
    	<input type="text" class="form-control" id="cc" name="cc" placeholder="Enter value" value="<%= client.get('cc') %>"/>	
		</div>
                <div class="form-group" >
		<label for="e-mail">e-mail</label>
    	<input type="text" class="form-control" id="e-mail" name="e-mail" placeholder="Enter e-mail" value="<%= client.get('e-mail') %>"/>	
		</div>
                <div class="form-group" >
		<label for="password">password</label>
    	<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" value="<%= client.get('password') %>"/>	
		</div>
    </form>
    </div>
</script> 

<!-- Andrés RF5-->
<script type="text/template" id ="client-search">
    <div class="form-group">
        <form role="form" id="<%= componentId %>-searchForm">
            <div class="form-group">
                <label for="query"> search </label>
                <input type="text" class="form-control" id="query" name="query" placeholder="Enter search terms"/>
            </div>
            <div class="form-group">
                //<input type="submit" class="btn btn-default" value="SEARCH"/>
                <a onclick="Backbone.trigger('<%= componentId %>-client-search'); return false" >Search</a>
            </div>
         </form>
    </div>
</script>