<script type="text/template" id="materiaPrimaList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>cantidadDisp</th>
		 <th>canitdadEnProc</th>
		 <th>tiempoEspera</th>
		 <th>costoPromedio</th>
		 <th>lugar</th>
		 <th>cantidadMin</th>
		 <th>cantidadMax</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(materiaPrimas, function(materiaPrima) { %>
    <tr>
		<td><%= htmlEncode(materiaPrima.getDisplay('name')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('cantidadDisp')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('canitdadEnProc')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('tiempoEspera')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('costoPromedio')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('lugar')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('cantidadMin')) %></td>
		<td><%= htmlEncode(materiaPrima.getDisplay('cantidadMax')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-materiaPrima-edit',{id:<%= materiaPrima.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-materiaPrima-delete',{id:<%= materiaPrima.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="materiaPrima">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-materiaPrimaForm">
    <% if(materiaPrima.id) {%>
    <input type="hidden" name="id" value="<%= materiaPrima.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= materiaPrima.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadDisp">cantidadDisp</label>
    	<input type="text" class="form-control" id="cantidadDisp" name="cantidadDisp" placeholder="Enter value" value="<%= materiaPrima.get('cantidadDisp') %>"/>	
		</div>
		<div class="form-group" >
		<label for="canitdadEnProc">canitdadEnProc</label>
    	<input type="text" class="form-control" id="canitdadEnProc" name="canitdadEnProc" placeholder="Enter value" value="<%= materiaPrima.get('canitdadEnProc') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tiempoEspera">tiempoEspera</label>
    	<input type="text" class="form-control" id="tiempoEspera" name="tiempoEspera" placeholder="Enter value" value="<%= materiaPrima.get('tiempoEspera') %>"/>	
		</div>
		<div class="form-group" >
		<label for="costoPromedio">costoPromedio</label>
    	<input type="text" class="form-control" id="costoPromedio" name="costoPromedio" placeholder="Enter value" value="<%= materiaPrima.get('costoPromedio') %>"/>	
		</div>
		<div class="form-group" >
		<label for="lugar">lugar</label>
    	<input type="text" class="form-control" id="lugar" name="lugar" placeholder="Enter value" value="<%= materiaPrima.get('lugar') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadMin">cantidadMin</label>
    	<input type="text" class="form-control" id="cantidadMin" name="cantidadMin" placeholder="Enter value" value="<%= materiaPrima.get('cantidadMin') %>"/>	
		</div>
		<div class="form-group" >
		<label for="cantidadMax">cantidadMax</label>
    	<input type="text" class="form-control" id="cantidadMax" name="cantidadMax" placeholder="Enter value" value="<%= materiaPrima.get('cantidadMax') %>"/>	
		</div>
    </form>
    </div>
</script> 